.title-bar {
  border: 1px solid #999;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.key-value-grid {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  //border: 1px solid red;
}

.key-value-grid div {
  font-size: 11px;
  box-sizing: border-box;
  //border: 1px solid yellow;
}

.full-width {
  width: 100%;
  text-align: center;
  //border: 1px solid red;
}
