.title {
  font-weight: bold;
}

.caption {
  margin-top: 25px;
}

.upload-button {
  margin-top: 25px;
}

.file-container {
  gap: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.file {
  position: relative;
  flex: 1 1 150px;
  border: 1px solid black;
  min-width: 100px;
  max-width: 100px;
  padding: 25px;
  margin: 0 10px;
  text-align: center;
  text-transform: lowercase;
  background-color: #eee;
  border-radius: 15px;
}

.delete {
  position: absolute;
  top: -5px;
  right: -5px;
}
