<ng-template #component>
  <div [formGroup]="formGroup()!" class="file-input-container">
    <div class="title">{{ title() }}</div>
    @if(caption()) {
    <div class="caption">
      {{ caption() }}
    </div>
    }
    <button
      mat-stroked-button
      color="primary"
      class="upload-button"
      type="button"
      (click)="fileInput.click()"
    >
      {{ buttonTitle() }}
    </button>
    <div class="file-container" *ngIf="files.length > 0">
      @for (file of files; track file.fileName) {
      <div class="file">
        <div>{{ file.fileName }}</div>
        <button class="delete" mat-icon-button>
          <mat-icon (click)="onDelete($event, file.id)">delete</mat-icon>
        </button>
      </div>
      }
    </div>
    <input
      #fileInput
      type="file"
      hidden
      (change)="onFileSelected($event)"
    />
    @if(formGroup() && formGroup()!.get(name())?.touched &&
    formGroup()!.get(name())?.invalid) {
    <div><small style="color: red">This field is required.</small></div>
    }
  </div>
</ng-template>
