<ng-template #component>
  <div [formGroup]="formGroup()!">
    <mat-radio-group
      [formControlName]="name()"
      [attr.aria-label]="name()">
      @for (option of options(); track option.name) {
        <mat-radio-button
          [value]="option.value">{{ option.name }}
        </mat-radio-button>
      }
      @if(formGroup() && formGroup()!.get(name())?.touched && formGroup()!.get(name())?.invalid) {
        <small style="color: red;">This field is required.</small>
      }
    </mat-radio-group>
  </div>
</ng-template>
