<ng-container *ngTemplateOutlet="template()"></ng-container>

<ng-template #questionTemplate>
  <div class="container">
    <mat-grid-list class="content" cols="4" rowHeight="80px">
      <mat-grid-tile class="tile" [colspan]="3">
        <div class="column-content-left">
          {{ question() }}
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="tile">
        <div class="column-content-right">
          @if (!completed()) {
            <mat-radio-group aria-label="Yes or No" [(ngModel)]="selectedOption">
              <mat-radio-button (change)="onSelectedOption($event.value)" [value]="'yes'">Yes</mat-radio-button>
              <mat-radio-button (change)="onSelectedOption($event.value)" [value]="'no'">No</mat-radio-button>
            </mat-radio-group>
          } @else {
            <span class="completed">Completed</span>
          }
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    @if (selectedOption === this.showQuestionInputOnSelectedValue()) {
      <span *ngFor="let questionInput of questionInputs()">
        <ng-container #questionInputContainer *ngTemplateOutlet="questionInput.baseComponent.template()"></ng-container>
      </span>
    }

    @for (message of messages(); track message.description) {
      @if (message.type === 'info' && (message.showOnValue === this.selectedOption || message.showOnValue === '')) {
        <div class="info">
          {{ message.description }}
        </div>
      }
      @if (message.type === 'warning' && (message.showOnValue === this.selectedOption || message.showOnValue === '')) {
        <div class="warning">
          {{ message.description }}
        </div>
      }
    }
  </div>
  <ng-container *ngTemplateOutlet="childQuestionsTemplate"></ng-container>
</ng-template>

<ng-template #childQuestionsTemplate>
  <div *ngFor="let questionTemplate of questionTemplateComponents()">
    @if (questionTemplate.showOnAnswer() === this.selectedOption) {
      <ng-container *ngTemplateOutlet="questionTemplate.template()"></ng-container>
    }
  </div>
</ng-template>
