<div class="content">
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <app-question
      [formGroup]="formGroup"
      (onQuestionAnswered)="valueChange($event)"
      [question]="'This is a question!'"
      name="first_question"
      [messages]="[
        { type: 'info', description: 'This is an info box that shows regardless of answer selected', showOnValue: '' },
        { type: 'warning', description: 'OMG!', showOnValue: 'no' }
      ]"
    >
      <app-question-template [showOnAnswer]="'no'">
        <app-question
          [question]="'This is a child question!'"
          name="child_of_first_question"
        >
        </app-question>
      </app-question-template>
    </app-question>
    <div class="submit">
      <button mat-flat-button type="submit">Submit</button>
    </div>
  </form>
</div>
